@font-face
{
    font-family: 'FuturaStdMedium';
    src: url('fonts/futurastd_medium-webfont.eot');
    src: url('fonts/futurastd_medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/futurastd_medium-webfont.woff') format('woff'), url('fonts/futurastd_medium-webfont.ttf') format('truetype'), url('/fonts/futurastd_medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: .85em;
    font-family: "FuturaStdMedium", Verdana, Helvetica, Sans-Serif;
    color: #fff;
    background-color: #291610;
}

header, footer, nav, section {
    display: block;
}

.CurrentUser {
    position: absolute;
    top: 0px;
    left: 0px;
}

.TVTitle {
  color: #fff;
  display: block;
  font-family: 'FuturaStdMedium';
  font-size: 24px;
  font-weight: normal;
  margin-left: 145px;
  margin-top: 36px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.TVPlayer
{
    float: left;
    margin-left: 22px;
}

.TVPlayer .Meter {
    position: absolute;
    top: 24px;
    left: 910px;
}

.TVUSersList {
    float: left;
    margin-left: 12px;
    width: 220px;
}

.TVUSersList div {
    float: left;
    margin-right: 1px;
    width: 68px;
    height: 68px;
}

.MayorPanel {
    float: left;
}

.Mayor {
    float: right;
    margin-left: 22px;
    padding-top: 12px;
}

.MayorText {
    float: left;
    padding-top: 32px;
    padding-left: 12px;
    font-family: 'FuturaStdMedium';
    text-transform: uppercase;
    font-size: 14px;
}

.TwitterPanel {
    margin-left: 22px;
}

.Mobile .Splash {
    background-image: url(images/splash.jpg);
    width: 640px;
    height: 1136px;
}