@model dynamic

@{
    ViewBag.Title = "CampFire - Curator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CampFire - Curator</h2>

<script>$(window).load(function () {
    $("#foo").carouFredSel({
        items: 10,
        auto: { play: false }
    });
    });</script>

<div id="foo">
    @foreach (string item in Model.Keys)
    {
        <img src="@item.Replace("\"","")" /> //@Model[item]
    }
</div>