@model dynamic

@{
    ViewBag.Title = "CampFireTV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="Mobile">
    <div class="Splash"></div>
</div>

<script> setTimeout(function() { document.location.href = '/View/Index?afsp=true'; }, 2500);</script>