@using AOLHack.Site
@model Video

@{
    ViewBag.Title = "CampFireTV";
    Layout = "~/Views/Shared/_Slim.cshtml";
}

<div class="Mobile">
    <div class="header"><img src="~/Content/images/mobile_01.png" /></div>
    <div class="locationBackground" style="background-image: url(@ViewBag.LocationBackground);">
        <div class="userIcon"><img src="~/Content/images/user.png" /></div>
        <div class="userName">Uri A.</div>
        <div class="Location">Joe's Pub, NYC</div>
    </div>
    
</div>
