@model dynamic

@{
    ViewBag.Title = "Watch";
    Layout = "~/Views/Shared/_Slim.cshtml";
}

<h1>Place Your Vote!</h1>

<div class="thumbnail">
    <img src="@Model.Thumbnail" width="300" />
</div>
<div class="control"></div>
