@model dynamic

@{
    ViewBag.Title = "CampFireTV";
    Layout = "~/Views/Shared/_Slim.cshtml";
}

<div class="header"><img src="~/Content/images/mobile_01.png" /></div>

<div class="thumbContainer">
    <div class="thumbnail">
        <img src="@Model.Thumbnail" width="300" />
    </div>
    <div class="sharing">
    </div>
</div>
<div class="control"></div>
