@using AOLHack.Site
@model Video

@{
    ViewBag.Title = "CampFireTV";
    Layout = "~/Views/Shared/_Slim.cshtml";
}

<div class="Mobile">
    <div class="header"><img src="~/Content/images/mobile_01.png" /></div>
    <div class="locationBackground" style="background-image: url(@ViewBag.LocationBackground);">
        <div class="userIcon"><img src="~/Content/images/user.png" /></div>
        <div class="userName">Uri A.</div>
        <div class="Location">Joe's Pub, NYC</div>
    </div>
    <div class="videoPanel">
        <img src="~/Content/images/mobile_07.png" />
    </div>
    <div class="NowPlayingPanel">
        <div class="UserPlaying"><img src="~/Content/images/mobile_10.png" /></div>
        <div class="NowPlaying">Now Playing:<br/>
            <span style="color: white;">Kardashians release most over the top Christmas card yet</span>
        </div>
    </div>
    <div style="clear: both;"><br/></div>
    <div style="padding-left: 190px;">
        <div class="social"><img src="~/Content/images/mobile_14.png" /></div>
        <div class="social"><img src="~/Content/images/mobile_16.png" /></div>
    </div>
</div>
