@model dynamic

@{
    ViewBag.Title = "CampFire - Curator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CampFire - Curator</h2>

<script>$(document).ready(function() {

    // Using default configuration
    $("#foo").carouFredSel({
        circular: true,
        infinite: true,
        width: "variable",
        items: null,
        // padding: [10, 10, 10, 10],
        scroll : {
            items           : null,
            easing          : "linear",
            duration        : 500,                        
            pauseOnHover: false,
        },
        swipe: {
            onTouch: true,
            onMouse: true
        },
        auto: {
        play: false
        },
    });

});</script>

<div id="foo">
	<a href="http://on.aol.com/video/518034831"><img src="https://thumbnails.5min.com/10360697/518034831_c.jpg" width="300" /></a>
	<img src="https://thumbnails.5min.com/10360697/518034832_c.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034830_c.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034831_1.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034832_1.jpg" width="300" />
	<img src="https://thumbnails.5min.com/10360697/518034830_1.jpg" width="300" />
</div>