@model dynamic

@Scripts.Render("http://pshared.5min.com/scripts/playerseed.js")
@Scripts.Render("~/Scripts/CampFire/player.js")

@{
    ViewBag.Title = "CampFireTV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="CurrentUser" onclick="CampFire.PlayNext();"><img src="~/Content/images/CurrentUser.png"/></div>
<div class="TVTitle">@ViewBag.VideoTitle</div>
<div id="player1" class="TVPlayer">
    <div class="Meter"><img src="~/Content/images/meter.png" /></div>
    <script>
        CampFire.InitPlayer(@Model.Id);
    </script>   
</div>

<div class="TVUSersList">
</div>

<div class="MayorPanel">
    <div class="MayorText">
        <span id="RoomName">Joe's Pub</span>
        <br/><br/>
        <span>Mayor:</span>
        <br/>
        <span>Queen M.</span>  
    </div>
    <div class="Mayor"><img src="/Content/images/Mayor.png"/></div>
    <div><img src="~/Content/images/likes.png" /><span id="Likes">1.4K</span></div>
    <div><img src="~/Content/images/qrcode.png" /></div>
</div>
<div class="TwitterPanel">
    <img src="~/Content/images/TwitterPlaceHolder.png" />
</div>

<script type="text/javascript">
    function getSocialMeta() {
        jQuery.post('/home/getSocialMeta', {}, function (data) {
            jQuery(".TVUSersList").empty();
            for (var i = 0; i < data.userIds.length; i++) {
                jQuery(".TVUSersList").append("<div><img src='/Content/images/Thumb" + data.userIds[i] + ".png'/></div>");
            }
        }, "json");
    }

    jQuery(document).ready(function () {
        setInterval(function () {
            getSocialMeta();
        },5000);
    });
</script>
